@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаю!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    ViewData["Title"] = "Лабораторна роботи ІСтаТП 2022. Доставка";
}

@if(User.Identity.IsAuthenticated)
{
<p>@User.Identity.Name</p>

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Вихід" />
</form>
}
else
{
<a asp-controller="Account" asp-action="Login">Вхід</a>
<a asp-controller="Account" asp-action="Register">Реєстація</a>
}
